<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="../static/jquery-3.3.1.min.js"></script>
    <title>Login</title>
</head>
<body>
这是登录页面 <br>
<a href="/add">add</a><br>
<a href="/update">update</a><br>
<a href="/logout">logout</a><br>

<button id="btn">点击登录</button>
<script>
    $(function () {
        $("#btn").on("click",function () {
            $.ajax({
                type:'get',
                url:'http://localhost:8089/add',
                dataType:'json',
                data:{
                    // username : "123456",
                    // password : "123"
                },
                success: function(res) {
                    console.log(res);
                    $("#msg").html(res.message);
                    //请求成功
                },
                error: function(err) {
                    console.log("error");
                }
            });
        });

    })
</script>
<div id="msg"></div>
</body>
</html>